body {
    font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


/* Navbar Styling */
.opaque-navbar {
    background-color:#000;
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    transition: background-color .5s ease 0s;

}
.opaque-navbar.opaque {
    background-color: #fff;
    border-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    transition: background-color .5s ease 0s;
    height: 60px;
}
.post{
    padding-top: 50px;
    text-decoration: none;
    color:  #2291d8;
}
a{
    color: #2291d8;
}
a.navbar-brand.mr-4.opaque{
    color: #000;
}
a.navbar-brand.mr-4.opaque:hover{
    color: #544a4a;
}
a.nav-item.nav-link.brand.opaque{
    color: #000;
}
a.nav-item.nav-link.brand.opaque:hover{
    color: #544a4a;
}

/* Landing Page */
.landing-page{

}
.wrapper{
    padding-top: 30px;
}


/* Profile Styling */
.picture{
    border: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-bottom: 10px;
}
/* Style for the pitches section */

a.nav-link.active.show{
border: 0px;
border-bottom: 2px solid #119cf5;
background-color: inherit;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
border: 0px;
border-color: #dee2e6 #dee2e6 #fff;
border-bottom: 2px solid #119cf5;
background-color: inherit;
}
a.nav-link{
    color: #a3a3a3;
}

.nav-tabs-right {
  text-align:right;
  float: center;
}

.nav-tabs-right > li {
  display:inline-block;
  float:none;

}
.inline{
    display: inline-block;
}
.heading{
    margin-right: 350px;
}

section{
    margin-top: 30px;
}
.intro{
    margin-bottom: 20px;
}


.media-body{
    border: 0px;
    border-top: 1 px solid;

}

div.card{
    border: 0px;
    border-radius: 0px;

    margin: 10px;
}

div.img-responsive.thumbnail.interview{
    height: 260px;
    width: 500px;
    background-image: url(../assets/1.jpg) ;
    background-repeat: no-repeat;
    background-attachment: cover;

}
div.img-responsive.thumbnail.product{
    height: 260px;
    width: 500px;
    background-image: url(../assets/2.jpg) ;
    background-repeat: no-repeat;
    background-attachment: cover;
}
div.img-responsive.thumbnail.promotion{
    height: 260px;
    width: 500px;
    background-image: url(../assets/1.jpg) ;
    background-repeat: no-repeat;
    background-attachment: cover;
}
div.img-responsive.thumbnail.business{
    height: 260px;
    width: 500px;
    background-image: url(../assets/3.jpg) ;
    background-repeat: no-repeat;
    background-attachment: cover;
}
div.card{
    box-shadow: 2px 4px 12px 2px #DCDCDC;
    padding-bottom: 1rem;
    border-radius: 0px;

    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
}
hr{
    margin: 0px;
    margin-right: 100px;
}
.fas.fa-comment{
    padding-right:5px;
}
.far.fa-thumbs-up{
    padding-right: 5px;
}
.far.fa-thumbs-down{
    padding-right: 5px;
}

img.img-thumbnail.rounded-circle{
    margin: 10px;
    height: 150px;
}

/* Registration and Login Form */
.pitchit-form{
    box-shadow: 2px 4px 12px 2px #dcdcdc;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}
.pitchit-form h3{
    display: flex;
    justify-content: center;
}
input#submit.btn.btn-primary{
    margin-top: 10px;
}

/* Comments SEction */
div.something{
    margin-left: 20px;

}

img.img-thumbnail.rounded-circle.comment{
    height: 80px;
}
.media-body{
    padding-top: 22px;
}
.pitchback{
    font-size: 12px;
}