<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">One Minute Pitch</a>
    </div>
    <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
      <li class="active"><a href="/">Home</a></li> -->
      <li><a href="/pitch/new">Create a Pitch</a></li>
      <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li> -->
      <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
      {% else %}
      <li class="active"><a href="/">Home</a></li>
      <li><a href="{{url_for('auth.login')}}">Login</a></li>
      <li><a href="{{url_for('auth.register')}}">Register</a></li>
      {%endif%} 
     </ul>
  </div>
</nav>